# Etherscan - ethereum blockchain explorer https://docs.etherscan.io/getting-started/viewing-api-usage-statistics
VITE_ETHERSCAN_API_KEY=YOUR_VALUE_HERE

# Polygonscan - polygon blockchain explorer https://docs.polygonscan.com/getting-started/viewing-api-usage-statistics
VITE_POLYGONSCAN_API_KEY=YOUR_VALUE_HERE

# Arbiscan - Arbitrum blockchain explorer https://docs.arbiscan.io/getting-started/viewing-api-usage-statistics
VITE_ARBISCAN_API_KEY=YOUR_VALUE_HERE

# Basescan - Base blockchain explorer https://docs.basescan.com/getting-started/viewing-api-usage-statistics
VITE_BASESCAN_API_KEY=YOUR_VALUE_HERE

# # Aragon gateway API key used for the RPC service
VITE_GATEWAY_RPC_API_KEY=YOUR_VALUE_HERE

# Aragon gateway API key used for the IPFS service
VITE_GATEWAY_IPFS_API_KEY=YOUR_VALUE_HERE

# WalletConnect - connection layer between DApp and user crypto wallet https://cloud.walletconnect.com/sign-in
VITE_WALLET_CONNECT_PROJECT_ID=YOUR_VALUE_HERE

# Covalent - unified API bringing visibility to billions of Web3 data points https://www.covalenthq.com/platform/auth/login/
VITE_COVALENT_API_KEY=YOUR_VALUE_HERE

# Sentry - Error & Performance Monitoring https://sentry.io/issues/
VITE_SENTRY_DNS=YOUR_VALUE_HERE
