# dependencies
node_modules

# testing
coverage
.cache-synpress

# production
build
dist
*.local
.cache

# misc
.vscode
.idea
.yarn
.yarnrc.yml
.DS_Store
*.pem

# debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env

# generated
.bin
stats.html

# e2e tests
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
