* {
  font-weight: 500;
}

body {
  background-color: #f5f7fa;
}

/* Web3Modal comes with a default setting of z-index: 2. This conflicts with
other parts of the application. Namely the navbars, which have a z-index of 10
(tailwind class z-10). Fixin the global css od the modal seems to be the
recommended solution:
https://github.com/Web3Modal/web3modal/issues/165#issuecomment-938666905 */
.web3modal-modal-lightbox {
  z-index: 20 !important;
}

#fullscreen-editor {
  position: absolute;
  z-index: 10;
}
